TestIOSMOBILEcenter.userprefs
Droid/obj/Debug/build.props
Droid/obj/Debug/libraryimports.cache
Droid/obj/Debug/libraryprojectimports.cache
Droid/obj/Debug/TestIOSMOBILEcenter.Droid..Users.efulgencio.Documents.___xamarinform.xamarin_forms_samples_master.TestIOSMOBILEcenter.TestIOSMOBILEcenter.App.xaml.g.cs
Droid/obj/Debug/TestIOSMOBILEcenter.Droid..Users.efulgencio.Documents.___xamarinform.xamarin_forms_samples_master.TestIOSMOBILEcenter.TestIOSMOBILEcenter.Views.AboutPage.xaml.g.cs
Droid/obj/Debug/TestIOSMOBILEcenter.Droid..Users.efulgencio.Documents.___xamarinform.xamarin_forms_samples_master.TestIOSMOBILEcenter.TestIOSMOBILEcenter.Views.ItemDetailPage.xaml.g.cs
Droid/obj/Debug/TestIOSMOBILEcenter.Droid..Users.efulgencio.Documents.___xamarinform.xamarin_forms_samples_master.TestIOSMOBILEcenter.TestIOSMOBILEcenter.Views.ItemsPage.xaml.g.cs
Droid/obj/Debug/TestIOSMOBILEcenter.Droid..Users.efulgencio.Documents.___xamarinform.xamarin_forms_samples_master.TestIOSMOBILEcenter.TestIOSMOBILEcenter.Views.NewItemPage.xaml.g.cs
Droid/obj/Debug/__library_projects__/FormsViewGroup.stamp
Droid/obj/Debug/__library_projects__/Newtonsoft.Json.stamp
Droid/obj/Debug/__library_projects__/Plugin.Connectivity.Abstractions.stamp
Droid/obj/Debug/__library_projects__/Plugin.Connectivity.stamp
Droid/obj/Debug/__library_projects__/System.Runtime.stamp
Droid/obj/Debug/__library_projects__/Xamarin.Android.Support.Animated.Vector.Drawable.stamp
Droid/obj/Debug/__library_projects__/Xamarin.Android.Support.Design.stamp
Droid/obj/Debug/__library_projects__/Xamarin.Android.Support.v4.stamp
Droid/obj/Debug/__library_projects__/Xamarin.Android.Support.v7.AppCompat.stamp
Droid/obj/Debug/__library_projects__/Xamarin.Android.Support.v7.CardView.stamp
Droid/obj/Debug/__library_projects__/Xamarin.Android.Support.v7.MediaRouter.stamp
Droid/obj/Debug/__library_projects__/Xamarin.Android.Support.v7.RecyclerView.stamp
Droid/obj/Debug/__library_projects__/Xamarin.Android.Support.Vector.Drawable.stamp
Droid/obj/Debug/__library_projects__/Xamarin.Forms.Core.stamp
Droid/obj/Debug/__library_projects__/Xamarin.Forms.Platform.Android.stamp
Droid/obj/Debug/__library_projects__/Xamarin.Forms.Platform.stamp
Droid/obj/Debug/__library_projects__/Xamarin.Forms.Xaml.stamp
Droid/obj/Debug/__library_projects__/FormsViewGroup/library_project_imports/formsviewgroup.jar
Droid/obj/Debug/res/drawable/icon.png
Droid/obj/Debug/res/drawable/xamarin_logo.png
Droid/obj/Debug/res/drawable-hdpi/icon.png
Droid/obj/Debug/res/drawable-xhdpi/icon.png
Droid/obj/Debug/res/drawable-xxhdpi/icon.png
Droid/obj/Debug/res/layout/tabbar.xml
Droid/obj/Debug/res/layout/toolbar.xml
Droid/obj/Debug/res/values/styles.xml
iOS/obj/iPhone/Debug/TestIOSMOBILEcenter.iOS..Users.efulgencio.Documents.___xamarinform.xamarin_forms_samples_master.TestIOSMOBILEcenter.TestIOSMOBILEcenter.App.xaml.g.cs
iOS/obj/iPhone/Debug/TestIOSMOBILEcenter.iOS..Users.efulgencio.Documents.___xamarinform.xamarin_forms_samples_master.TestIOSMOBILEcenter.TestIOSMOBILEcenter.Views.AboutPage.xaml.g.cs
iOS/obj/iPhone/Debug/TestIOSMOBILEcenter.iOS..Users.efulgencio.Documents.___xamarinform.xamarin_forms_samples_master.TestIOSMOBILEcenter.TestIOSMOBILEcenter.Views.ItemDetailPage.xaml.g.cs
iOS/obj/iPhone/Debug/TestIOSMOBILEcenter.iOS..Users.efulgencio.Documents.___xamarinform.xamarin_forms_samples_master.TestIOSMOBILEcenter.TestIOSMOBILEcenter.Views.ItemsPage.xaml.g.cs
iOS/obj/iPhone/Debug/TestIOSMOBILEcenter.iOS..Users.efulgencio.Documents.___xamarinform.xamarin_forms_samples_master.TestIOSMOBILEcenter.TestIOSMOBILEcenter.Views.NewItemPage.xaml.g.cs
iOS/obj/iPhoneSimulator/Debug/TestIOSMOBILEcenter.iOS..Users.efulgencio.Documents.___xamarinform.xamarin_forms_samples_master.TestIOSMOBILEcenter.TestIOSMOBILEcenter.App.xaml.g.cs
iOS/obj/iPhoneSimulator/Debug/TestIOSMOBILEcenter.iOS..Users.efulgencio.Documents.___xamarinform.xamarin_forms_samples_master.TestIOSMOBILEcenter.TestIOSMOBILEcenter.Views.AboutPage.xaml.g.cs
iOS/obj/iPhoneSimulator/Debug/TestIOSMOBILEcenter.iOS..Users.efulgencio.Documents.___xamarinform.xamarin_forms_samples_master.TestIOSMOBILEcenter.TestIOSMOBILEcenter.Views.ItemDetailPage.xaml.g.cs
iOS/obj/iPhoneSimulator/Debug/TestIOSMOBILEcenter.iOS..Users.efulgencio.Documents.___xamarinform.xamarin_forms_samples_master.TestIOSMOBILEcenter.TestIOSMOBILEcenter.Views.ItemsPage.xaml.g.cs
iOS/obj/iPhoneSimulator/Debug/TestIOSMOBILEcenter.iOS..Users.efulgencio.Documents.___xamarinform.xamarin_forms_samples_master.TestIOSMOBILEcenter.TestIOSMOBILEcenter.Views.NewItemPage.xaml.g.cs
packages/Newtonsoft.Json.9.0.1/Newtonsoft.Json.9.0.1.nupkg
packages/Newtonsoft.Json.9.0.1/lib/net20/Newtonsoft.Json.dll
packages/Newtonsoft.Json.9.0.1/lib/net20/Newtonsoft.Json.xml
packages/Newtonsoft.Json.9.0.1/lib/net35/Newtonsoft.Json.dll
packages/Newtonsoft.Json.9.0.1/lib/net35/Newtonsoft.Json.xml
packages/Newtonsoft.Json.9.0.1/lib/net40/Newtonsoft.Json.dll
packages/Newtonsoft.Json.9.0.1/lib/net40/Newtonsoft.Json.xml
packages/Newtonsoft.Json.9.0.1/lib/net45/Newtonsoft.Json.dll
packages/Newtonsoft.Json.9.0.1/lib/net45/Newtonsoft.Json.xml
packages/Newtonsoft.Json.9.0.1/lib/netstandard1.0/Newtonsoft.Json.dll
packages/Newtonsoft.Json.9.0.1/lib/netstandard1.0/Newtonsoft.Json.xml
packages/Newtonsoft.Json.9.0.1/lib/portable-net40+sl5+wp80+win8+wpa81/Newtonsoft.Json.dll
packages/Newtonsoft.Json.9.0.1/lib/portable-net40+sl5+wp80+win8+wpa81/Newtonsoft.Json.xml
packages/Newtonsoft.Json.9.0.1/lib/portable-net45+wp80+win8+wpa81/Newtonsoft.Json.xml
packages/Newtonsoft.Json.9.0.1/tools/install.ps1
packages/Xam.Plugin.Connectivity.2.3.0/readme.txt
packages/Xam.Plugin.Connectivity.2.3.0/Xam.Plugin.Connectivity.2.3.0.nupkg
packages/Xam.Plugin.Connectivity.2.3.0/lib/MonoAndroid10/Plugin.Connectivity.Abstractions.pdb
packages/Xam.Plugin.Connectivity.2.3.0/lib/MonoAndroid10/Plugin.Connectivity.Abstractions.xml
packages/Xam.Plugin.Connectivity.2.3.0/lib/MonoAndroid10/Plugin.Connectivity.pdb
packages/Xam.Plugin.Connectivity.2.3.0/lib/MonoAndroid10/Plugin.Connectivity.xml
packages/Xam.Plugin.Connectivity.2.3.0/lib/net45/Plugin.Connectivity.Abstractions.dll
packages/Xam.Plugin.Connectivity.2.3.0/lib/net45/Plugin.Connectivity.Abstractions.pdb
packages/Xam.Plugin.Connectivity.2.3.0/lib/net45/Plugin.Connectivity.Abstractions.xml
packages/Xam.Plugin.Connectivity.2.3.0/lib/net45/Plugin.Connectivity.dll
packages/Xam.Plugin.Connectivity.2.3.0/lib/net45/Plugin.Connectivity.pdb
packages/Xam.Plugin.Connectivity.2.3.0/lib/net45/Plugin.Connectivity.xml
packages/Xam.Plugin.Connectivity.2.3.0/lib/portable-net45+wp80+win8+wpa81/Plugin.Connectivity.Abstractions.dll
packages/Xam.Plugin.Connectivity.2.3.0/lib/portable-net45+wp80+win8+wpa81/Plugin.Connectivity.Abstractions.pdb
packages/Xam.Plugin.Connectivity.2.3.0/lib/portable-net45+wp80+win8+wpa81/Plugin.Connectivity.Abstractions.xml
packages/Xam.Plugin.Connectivity.2.3.0/lib/portable-net45+wp80+win8+wpa81/Plugin.Connectivity.dll
packages/Xam.Plugin.Connectivity.2.3.0/lib/portable-net45+wp80+win8+wpa81/Plugin.Connectivity.pdb
packages/Xam.Plugin.Connectivity.2.3.0/lib/portable-net45+wp80+win8+wpa81/Plugin.Connectivity.xml
packages/Xam.Plugin.Connectivity.2.3.0/lib/UAP10/Plugin.Connectivity.Abstractions.dll
packages/Xam.Plugin.Connectivity.2.3.0/lib/UAP10/Plugin.Connectivity.Abstractions.pdb
packages/Xam.Plugin.Connectivity.2.3.0/lib/UAP10/Plugin.Connectivity.Abstractions.xml
packages/Xam.Plugin.Connectivity.2.3.0/lib/UAP10/Plugin.Connectivity.dll
packages/Xam.Plugin.Connectivity.2.3.0/lib/UAP10/Plugin.Connectivity.pdb
packages/Xam.Plugin.Connectivity.2.3.0/lib/UAP10/Plugin.Connectivity.xml
packages/Xam.Plugin.Connectivity.2.3.0/lib/win8/Plugin.Connectivity.Abstractions.dll
packages/Xam.Plugin.Connectivity.2.3.0/lib/win8/Plugin.Connectivity.Abstractions.pdb
packages/Xam.Plugin.Connectivity.2.3.0/lib/win8/Plugin.Connectivity.Abstractions.xml
packages/Xam.Plugin.Connectivity.2.3.0/lib/win8/Plugin.Connectivity.dll
packages/Xam.Plugin.Connectivity.2.3.0/lib/win8/Plugin.Connectivity.pdb
packages/Xam.Plugin.Connectivity.2.3.0/lib/win8/Plugin.Connectivity.xml
packages/Xam.Plugin.Connectivity.2.3.0/lib/wp80/Plugin.Connectivity.Abstractions.dll
packages/Xam.Plugin.Connectivity.2.3.0/lib/wp80/Plugin.Connectivity.Abstractions.pdb
packages/Xam.Plugin.Connectivity.2.3.0/lib/wp80/Plugin.Connectivity.Abstractions.xml
packages/Xam.Plugin.Connectivity.2.3.0/lib/wp80/Plugin.Connectivity.dll
packages/Xam.Plugin.Connectivity.2.3.0/lib/wp80/Plugin.Connectivity.pdb
packages/Xam.Plugin.Connectivity.2.3.0/lib/wp80/Plugin.Connectivity.xml
packages/Xam.Plugin.Connectivity.2.3.0/lib/wp81/Plugin.Connectivity.Abstractions.dll
packages/Xam.Plugin.Connectivity.2.3.0/lib/wp81/Plugin.Connectivity.Abstractions.pdb
packages/Xam.Plugin.Connectivity.2.3.0/lib/wp81/Plugin.Connectivity.Abstractions.xml
packages/Xam.Plugin.Connectivity.2.3.0/lib/wp81/Plugin.Connectivity.dll
packages/Xam.Plugin.Connectivity.2.3.0/lib/wp81/Plugin.Connectivity.pdb
packages/Xam.Plugin.Connectivity.2.3.0/lib/wp81/Plugin.Connectivity.xml
packages/Xam.Plugin.Connectivity.2.3.0/lib/wpa81/Plugin.Connectivity.Abstractions.dll
packages/Xam.Plugin.Connectivity.2.3.0/lib/wpa81/Plugin.Connectivity.Abstractions.pdb
packages/Xam.Plugin.Connectivity.2.3.0/lib/wpa81/Plugin.Connectivity.Abstractions.xml
packages/Xam.Plugin.Connectivity.2.3.0/lib/wpa81/Plugin.Connectivity.dll
packages/Xam.Plugin.Connectivity.2.3.0/lib/wpa81/Plugin.Connectivity.pdb
packages/Xam.Plugin.Connectivity.2.3.0/lib/wpa81/Plugin.Connectivity.xml
packages/Xam.Plugin.Connectivity.2.3.0/lib/Xamarin.iOS10/Plugin.Connectivity.Abstractions.xml
packages/Xam.Plugin.Connectivity.2.3.0/lib/Xamarin.iOS10/Plugin.Connectivity.xml
packages/Xamarin.Android.Support.Animated.Vector.Drawable.23.3.0/Xamarin.Android.Support.Animated.Vector.Drawable.23.3.0.nupkg
packages/Xamarin.Android.Support.Design.23.3.0/Xamarin.Android.Support.Design.23.3.0.nupkg
packages/Xamarin.Android.Support.v4.23.3.0/Xamarin.Android.Support.v4.23.3.0.nupkg
packages/Xamarin.Android.Support.v7.AppCompat.23.3.0/Xamarin.Android.Support.v7.AppCompat.23.3.0.nupkg
packages/Xamarin.Android.Support.v7.CardView.23.3.0/Xamarin.Android.Support.v7.CardView.23.3.0.nupkg
packages/Xamarin.Android.Support.v7.MediaRouter.23.3.0/Xamarin.Android.Support.v7.MediaRouter.23.3.0.nupkg
packages/Xamarin.Android.Support.v7.RecyclerView.23.3.0/Xamarin.Android.Support.v7.RecyclerView.23.3.0.nupkg
packages/Xamarin.Android.Support.Vector.Drawable.23.3.0/Xamarin.Android.Support.Vector.Drawable.23.3.0.nupkg
packages/Xamarin.Android.Support.Vector.Drawable.23.3.0/build/Xamarin.Android.Support.Tasks.VectorDrawable.dll
packages/Xamarin.Android.Support.Vector.Drawable.23.3.0/build/Xamarin.Android.Support.Vector.Drawable.targets
packages/Xamarin.Forms.2.3.4.247/Xamarin.Forms.2.3.4.247.nupkg
packages/Xamarin.Forms.2.3.4.247/build/portable-win+net45+wp80+win81+wpa81+MonoAndroid10+Xamarin.iOS10+xamarinmac20/Mono.Cecil.dll
packages/Xamarin.Forms.2.3.4.247/build/portable-win+net45+wp80+win81+wpa81+MonoAndroid10+Xamarin.iOS10+xamarinmac20/Mono.Cecil.Mdb.dll
packages/Xamarin.Forms.2.3.4.247/build/portable-win+net45+wp80+win81+wpa81+MonoAndroid10+Xamarin.iOS10+xamarinmac20/Mono.Cecil.Pdb.dll
packages/Xamarin.Forms.2.3.4.247/build/portable-win+net45+wp80+win81+wpa81+MonoAndroid10+Xamarin.iOS10+xamarinmac20/Mono.Cecil.Rocks.dll
packages/Xamarin.Forms.2.3.4.247/build/portable-win+net45+wp80+win81+wpa81+MonoAndroid10+Xamarin.iOS10+xamarinmac20/Xamarin.Forms.Build.Tasks.dll
packages/Xamarin.Forms.2.3.4.247/build/portable-win+net45+wp80+win81+wpa81+MonoAndroid10+Xamarin.iOS10+xamarinmac20/Xamarin.Forms.Core.dll
packages/Xamarin.Forms.2.3.4.247/build/portable-win+net45+wp80+win81+wpa81+MonoAndroid10+Xamarin.iOS10+xamarinmac20/Xamarin.Forms.targets
packages/Xamarin.Forms.2.3.4.247/build/portable-win+net45+wp80+win81+wpa81+MonoAndroid10+Xamarin.iOS10+xamarinmac20/Xamarin.Forms.Xaml.dll
packages/Xamarin.Forms.2.3.4.247/lib/MonoAndroid10/FormsViewGroup.pdb
packages/Xamarin.Forms.2.3.4.247/lib/MonoAndroid10/Xamarin.Forms.Core.pdb
packages/Xamarin.Forms.2.3.4.247/lib/MonoAndroid10/Xamarin.Forms.Core.xml
packages/Xamarin.Forms.2.3.4.247/lib/MonoAndroid10/Xamarin.Forms.Platform.Android.pdb
packages/Xamarin.Forms.2.3.4.247/lib/MonoAndroid10/Xamarin.Forms.Xaml.pdb
packages/Xamarin.Forms.2.3.4.247/lib/MonoAndroid10/Xamarin.Forms.Xaml.xml
packages/Xamarin.Forms.2.3.4.247/lib/MonoAndroid10/Design/Xamarin.Forms.Core.Design.dll
packages/Xamarin.Forms.2.3.4.247/lib/MonoAndroid10/Design/Xamarin.Forms.Xaml.Design.dll
packages/Xamarin.Forms.2.3.4.247/lib/portable-win+net45+wp80+win81+wpa81+MonoAndroid10+Xamarin.iOS10+xamarinmac20/Xamarin.Forms.Core.dll
packages/Xamarin.Forms.2.3.4.247/lib/portable-win+net45+wp80+win81+wpa81+MonoAndroid10+Xamarin.iOS10+xamarinmac20/Xamarin.Forms.Core.dll.mdb
packages/Xamarin.Forms.2.3.4.247/lib/portable-win+net45+wp80+win81+wpa81+MonoAndroid10+Xamarin.iOS10+xamarinmac20/Xamarin.Forms.Core.pdb
packages/Xamarin.Forms.2.3.4.247/lib/portable-win+net45+wp80+win81+wpa81+MonoAndroid10+Xamarin.iOS10+xamarinmac20/Xamarin.Forms.Core.xml
packages/Xamarin.Forms.2.3.4.247/lib/portable-win+net45+wp80+win81+wpa81+MonoAndroid10+Xamarin.iOS10+xamarinmac20/Xamarin.Forms.Platform.dll
packages/Xamarin.Forms.2.3.4.247/lib/portable-win+net45+wp80+win81+wpa81+MonoAndroid10+Xamarin.iOS10+xamarinmac20/Xamarin.Forms.Platform.dll.mdb
packages/Xamarin.Forms.2.3.4.247/lib/portable-win+net45+wp80+win81+wpa81+MonoAndroid10+Xamarin.iOS10+xamarinmac20/Xamarin.Forms.Platform.pdb
packages/Xamarin.Forms.2.3.4.247/lib/portable-win+net45+wp80+win81+wpa81+MonoAndroid10+Xamarin.iOS10+xamarinmac20/Xamarin.Forms.Xaml.dll
packages/Xamarin.Forms.2.3.4.247/lib/portable-win+net45+wp80+win81+wpa81+MonoAndroid10+Xamarin.iOS10+xamarinmac20/Xamarin.Forms.Xaml.dll.mdb
packages/Xamarin.Forms.2.3.4.247/lib/portable-win+net45+wp80+win81+wpa81+MonoAndroid10+Xamarin.iOS10+xamarinmac20/Xamarin.Forms.Xaml.pdb
packages/Xamarin.Forms.2.3.4.247/lib/portable-win+net45+wp80+win81+wpa81+MonoAndroid10+Xamarin.iOS10+xamarinmac20/Xamarin.Forms.Xaml.xml
packages/Xamarin.Forms.2.3.4.247/lib/portable-win+net45+wp80+win81+wpa81+MonoAndroid10+Xamarin.iOS10+xamarinmac20/Design/Xamarin.Forms.Core.Design.dll
packages/Xamarin.Forms.2.3.4.247/lib/portable-win+net45+wp80+win81+wpa81+MonoAndroid10+Xamarin.iOS10+xamarinmac20/Design/Xamarin.Forms.Xaml.Design.dll
packages/Xamarin.Forms.2.3.4.247/lib/uap10.0/Xamarin.Forms.Core.dll
packages/Xamarin.Forms.2.3.4.247/lib/uap10.0/Xamarin.Forms.Core.xml
packages/Xamarin.Forms.2.3.4.247/lib/uap10.0/Xamarin.Forms.Platform.dll
packages/Xamarin.Forms.2.3.4.247/lib/uap10.0/Xamarin.Forms.Platform.UAP.dll
packages/Xamarin.Forms.2.3.4.247/lib/uap10.0/Xamarin.Forms.Platform.UAP.pri
packages/Xamarin.Forms.2.3.4.247/lib/uap10.0/Xamarin.Forms.Xaml.dll
packages/Xamarin.Forms.2.3.4.247/lib/uap10.0/Xamarin.Forms.Xaml.xml
packages/Xamarin.Forms.2.3.4.247/lib/uap10.0/Design/Xamarin.Forms.Core.Design.dll
packages/Xamarin.Forms.2.3.4.247/lib/uap10.0/Design/Xamarin.Forms.Xaml.Design.dll
packages/Xamarin.Forms.2.3.4.247/lib/uap10.0/Xamarin.Forms.Platform.UAP/AutoSuggestStyle.xbf
packages/Xamarin.Forms.2.3.4.247/lib/uap10.0/Xamarin.Forms.Platform.UAP/FormsCommandBarStyle.xbf
packages/Xamarin.Forms.2.3.4.247/lib/uap10.0/Xamarin.Forms.Platform.UAP/FormsTextBoxStyle.xbf
packages/Xamarin.Forms.2.3.4.247/lib/uap10.0/Xamarin.Forms.Platform.UAP/MasterDetailControlStyle.xbf
packages/Xamarin.Forms.2.3.4.247/lib/uap10.0/Xamarin.Forms.Platform.UAP/PageControl.xbf
packages/Xamarin.Forms.2.3.4.247/lib/uap10.0/Xamarin.Forms.Platform.UAP/PageControlStyle.xbf
packages/Xamarin.Forms.2.3.4.247/lib/uap10.0/Xamarin.Forms.Platform.UAP/Resources.xbf
packages/Xamarin.Forms.2.3.4.247/lib/uap10.0/Xamarin.Forms.Platform.UAP/TabbedPageStyle.xbf
packages/Xamarin.Forms.2.3.4.247/lib/uap10.0/Xamarin.Forms.Platform.UAP/Xamarin.Forms.Platform.UAP.xr.xml
packages/Xamarin.Forms.2.3.4.247/lib/uap10.0/Xamarin.Forms.Platform.UAP/Properties/Xamarin.Forms.Platform.UAP.rd.xml
packages/Xamarin.Forms.2.3.4.247/lib/win81/Xamarin.Forms.Core.dll
packages/Xamarin.Forms.2.3.4.247/lib/win81/Xamarin.Forms.Core.xml
packages/Xamarin.Forms.2.3.4.247/lib/win81/Xamarin.Forms.Platform.dll
packages/Xamarin.Forms.2.3.4.247/lib/win81/Xamarin.Forms.Platform.WinRT.dll
packages/Xamarin.Forms.2.3.4.247/lib/win81/Xamarin.Forms.Platform.WinRT.pri
packages/Xamarin.Forms.2.3.4.247/lib/win81/Xamarin.Forms.Platform.WinRT.Tablet.dll
packages/Xamarin.Forms.2.3.4.247/lib/win81/Xamarin.Forms.Platform.WinRT.Tablet.pri
packages/Xamarin.Forms.2.3.4.247/lib/win81/Xamarin.Forms.Xaml.dll
packages/Xamarin.Forms.2.3.4.247/lib/win81/Xamarin.Forms.Xaml.xml
packages/Xamarin.Forms.2.3.4.247/lib/win81/Design/Xamarin.Forms.Core.Design.dll
packages/Xamarin.Forms.2.3.4.247/lib/win81/Design/Xamarin.Forms.Xaml.Design.dll
packages/Xamarin.Forms.2.3.4.247/lib/win81/Xamarin.Forms.Platform.WinRT/PageControl.xbf
packages/Xamarin.Forms.2.3.4.247/lib/win81/Xamarin.Forms.Platform.WinRT/StepperControl.xbf
packages/Xamarin.Forms.2.3.4.247/lib/win81/Xamarin.Forms.Platform.WinRT/Xamarin.Forms.Platform.WinRT.xr.xml
packages/Xamarin.Forms.2.3.4.247/lib/win81/Xamarin.Forms.Platform.WinRT.Tablet/FormsTextBoxStyle.xbf
packages/Xamarin.Forms.2.3.4.247/lib/win81/Xamarin.Forms.Platform.WinRT.Tablet/Resources.xbf
packages/Xamarin.Forms.2.3.4.247/lib/win81/Xamarin.Forms.Platform.WinRT.Tablet/TabletResources.xbf
packages/Xamarin.Forms.2.3.4.247/lib/win81/Xamarin.Forms.Platform.WinRT.Tablet/Xamarin.Forms.Platform.WinRT.Tablet.xr.xml
packages/Xamarin.Forms.2.3.4.247/lib/WP80/Xamarin.Forms.Core.dll
packages/Xamarin.Forms.2.3.4.247/lib/WP80/Xamarin.Forms.Core.pdb
packages/Xamarin.Forms.2.3.4.247/lib/WP80/Xamarin.Forms.Core.xml
packages/Xamarin.Forms.2.3.4.247/lib/WP80/Xamarin.Forms.Platform.dll
packages/Xamarin.Forms.2.3.4.247/lib/WP80/Xamarin.Forms.Platform.WP8.dll
packages/Xamarin.Forms.2.3.4.247/lib/WP80/Xamarin.Forms.Platform.WP8.pdb
packages/Xamarin.Forms.2.3.4.247/lib/WP80/Xamarin.Forms.Xaml.dll
packages/Xamarin.Forms.2.3.4.247/lib/WP80/Xamarin.Forms.Xaml.pdb
packages/Xamarin.Forms.2.3.4.247/lib/WP80/Xamarin.Forms.Xaml.xml
packages/Xamarin.Forms.2.3.4.247/lib/WP80/Design/Xamarin.Forms.Core.Design.dll
packages/Xamarin.Forms.2.3.4.247/lib/WP80/Design/Xamarin.Forms.Xaml.Design.dll
packages/Xamarin.Forms.2.3.4.247/lib/wpa81/Xamarin.Forms.Core.dll
packages/Xamarin.Forms.2.3.4.247/lib/wpa81/Xamarin.Forms.Core.xml
packages/Xamarin.Forms.2.3.4.247/lib/wpa81/Xamarin.Forms.Platform.dll
packages/Xamarin.Forms.2.3.4.247/lib/wpa81/Xamarin.Forms.Platform.WinRT.dll
packages/Xamarin.Forms.2.3.4.247/lib/wpa81/Xamarin.Forms.Platform.WinRT.Phone.dll
packages/Xamarin.Forms.2.3.4.247/lib/wpa81/Xamarin.Forms.Platform.WinRT.Phone.pri
packages/Xamarin.Forms.2.3.4.247/lib/wpa81/Xamarin.Forms.Platform.WinRT.pri
packages/Xamarin.Forms.2.3.4.247/lib/wpa81/Xamarin.Forms.Xaml.dll
packages/Xamarin.Forms.2.3.4.247/lib/wpa81/Xamarin.Forms.Xaml.xml
packages/Xamarin.Forms.2.3.4.247/lib/wpa81/Design/Xamarin.Forms.Core.Design.dll
packages/Xamarin.Forms.2.3.4.247/lib/wpa81/Design/Xamarin.Forms.Xaml.Design.dll
packages/Xamarin.Forms.2.3.4.247/lib/wpa81/Xamarin.Forms.Platform.WinRT/PageControl.xbf
packages/Xamarin.Forms.2.3.4.247/lib/wpa81/Xamarin.Forms.Platform.WinRT/StepperControl.xbf
packages/Xamarin.Forms.2.3.4.247/lib/wpa81/Xamarin.Forms.Platform.WinRT/Xamarin.Forms.Platform.WinRT.xr.xml
packages/Xamarin.Forms.2.3.4.247/lib/wpa81/Xamarin.Forms.Platform.WinRT.Phone/FormsTextBoxStyle.xbf
packages/Xamarin.Forms.2.3.4.247/lib/wpa81/Xamarin.Forms.Platform.WinRT.Phone/PhoneResources.xbf
packages/Xamarin.Forms.2.3.4.247/lib/wpa81/Xamarin.Forms.Platform.WinRT.Phone/Resources.xbf
packages/Xamarin.Forms.2.3.4.247/lib/wpa81/Xamarin.Forms.Platform.WinRT.Phone/SearchBox.xbf
packages/Xamarin.Forms.2.3.4.247/lib/wpa81/Xamarin.Forms.Platform.WinRT.Phone/Xamarin.Forms.Platform.WinRT.Phone.xr.xml
packages/Xamarin.Forms.2.3.4.247/lib/Xamarin.iOS10/Xamarin.Forms.Core.dll.mdb
packages/Xamarin.Forms.2.3.4.247/lib/Xamarin.iOS10/Xamarin.Forms.Core.pdb
packages/Xamarin.Forms.2.3.4.247/lib/Xamarin.iOS10/Xamarin.Forms.Core.xml
packages/Xamarin.Forms.2.3.4.247/lib/Xamarin.iOS10/Xamarin.Forms.Platform.iOS.dll.mdb
packages/Xamarin.Forms.2.3.4.247/lib/Xamarin.iOS10/Xamarin.Forms.Platform.iOS.pdb
packages/Xamarin.Forms.2.3.4.247/lib/Xamarin.iOS10/Xamarin.Forms.Xaml.dll.mdb
packages/Xamarin.Forms.2.3.4.247/lib/Xamarin.iOS10/Xamarin.Forms.Xaml.pdb
packages/Xamarin.Forms.2.3.4.247/lib/Xamarin.iOS10/Xamarin.Forms.Xaml.xml
packages/Xamarin.Forms.2.3.4.247/lib/Xamarin.iOS10/ar/Xamarin.Forms.Platform.iOS.resources.dll
packages/Xamarin.Forms.2.3.4.247/lib/Xamarin.iOS10/ca/Xamarin.Forms.Platform.iOS.resources.dll
packages/Xamarin.Forms.2.3.4.247/lib/Xamarin.iOS10/cs/Xamarin.Forms.Platform.iOS.resources.dll
packages/Xamarin.Forms.2.3.4.247/lib/Xamarin.iOS10/da/Xamarin.Forms.Platform.iOS.resources.dll
packages/Xamarin.Forms.2.3.4.247/lib/Xamarin.iOS10/de/Xamarin.Forms.Platform.iOS.resources.dll
packages/Xamarin.Forms.2.3.4.247/lib/Xamarin.iOS10/Design/Xamarin.Forms.Core.Design.dll
packages/Xamarin.Forms.2.3.4.247/lib/Xamarin.iOS10/Design/Xamarin.Forms.Xaml.Design.dll
packages/Xamarin.Forms.2.3.4.247/lib/Xamarin.iOS10/el/Xamarin.Forms.Platform.iOS.resources.dll
packages/Xamarin.Forms.2.3.4.247/lib/Xamarin.iOS10/es/Xamarin.Forms.Platform.iOS.resources.dll
packages/Xamarin.Forms.2.3.4.247/lib/Xamarin.iOS10/fi/Xamarin.Forms.Platform.iOS.resources.dll
packages/Xamarin.Forms.2.3.4.247/lib/Xamarin.iOS10/fr/Xamarin.Forms.Platform.iOS.resources.dll
packages/Xamarin.Forms.2.3.4.247/lib/Xamarin.iOS10/he/Xamarin.Forms.Platform.iOS.resources.dll
packages/Xamarin.Forms.2.3.4.247/lib/Xamarin.iOS10/hi/Xamarin.Forms.Platform.iOS.resources.dll
packages/Xamarin.Forms.2.3.4.247/lib/Xamarin.iOS10/hr/Xamarin.Forms.Platform.iOS.resources.dll
packages/Xamarin.Forms.2.3.4.247/lib/Xamarin.iOS10/hu/Xamarin.Forms.Platform.iOS.resources.dll
packages/Xamarin.Forms.2.3.4.247/lib/Xamarin.iOS10/id/Xamarin.Forms.Platform.iOS.resources.dll
packages/Xamarin.Forms.2.3.4.247/lib/Xamarin.iOS10/it/Xamarin.Forms.Platform.iOS.resources.dll
packages/Xamarin.Forms.2.3.4.247/lib/Xamarin.iOS10/ja/Xamarin.Forms.Platform.iOS.resources.dll
packages/Xamarin.Forms.2.3.4.247/lib/Xamarin.iOS10/ko/Xamarin.Forms.Platform.iOS.resources.dll
packages/Xamarin.Forms.2.3.4.247/lib/Xamarin.iOS10/ms/Xamarin.Forms.Platform.iOS.resources.dll
packages/Xamarin.Forms.2.3.4.247/lib/Xamarin.iOS10/nb/Xamarin.Forms.Platform.iOS.resources.dll
packages/Xamarin.Forms.2.3.4.247/lib/Xamarin.iOS10/nl/Xamarin.Forms.Platform.iOS.resources.dll
packages/Xamarin.Forms.2.3.4.247/lib/Xamarin.iOS10/pl/Xamarin.Forms.Platform.iOS.resources.dll
packages/Xamarin.Forms.2.3.4.247/lib/Xamarin.iOS10/pt/Xamarin.Forms.Platform.iOS.resources.dll
packages/Xamarin.Forms.2.3.4.247/lib/Xamarin.iOS10/pt-BR/Xamarin.Forms.Platform.iOS.resources.dll
packages/Xamarin.Forms.2.3.4.247/lib/Xamarin.iOS10/ro/Xamarin.Forms.Platform.iOS.resources.dll
packages/Xamarin.Forms.2.3.4.247/lib/Xamarin.iOS10/ru/Xamarin.Forms.Platform.iOS.resources.dll
packages/Xamarin.Forms.2.3.4.247/lib/Xamarin.iOS10/sk/Xamarin.Forms.Platform.iOS.resources.dll
packages/Xamarin.Forms.2.3.4.247/lib/Xamarin.iOS10/sv/Xamarin.Forms.Platform.iOS.resources.dll
packages/Xamarin.Forms.2.3.4.247/lib/Xamarin.iOS10/th/Xamarin.Forms.Platform.iOS.resources.dll
packages/Xamarin.Forms.2.3.4.247/lib/Xamarin.iOS10/tr/Xamarin.Forms.Platform.iOS.resources.dll
packages/Xamarin.Forms.2.3.4.247/lib/Xamarin.iOS10/uk/Xamarin.Forms.Platform.iOS.resources.dll
packages/Xamarin.Forms.2.3.4.247/lib/Xamarin.iOS10/vi/Xamarin.Forms.Platform.iOS.resources.dll
packages/Xamarin.Forms.2.3.4.247/lib/Xamarin.iOS10/zh-Hans/Xamarin.Forms.Platform.iOS.resources.dll
packages/Xamarin.Forms.2.3.4.247/lib/Xamarin.iOS10/zh-Hant/Xamarin.Forms.Platform.iOS.resources.dll
packages/Xamarin.Forms.2.3.4.247/lib/Xamarin.iOS10/zh-HK/Xamarin.Forms.Platform.iOS.resources.dll
